//font:

$main-font: #000000;
$grey-font: #828486;
$white-font: #ffffff;
$normal: 400;
$thin: 200;
$bold: 700;

//background-colors:
$navy-background: #040C55;
$light-blue: #2962F612;
$blue-background: #3765EA;
$green-background: #D1EA67;
$grey-background: #EBEBEB;
$light-grey: #E6E7E8;
$white-background: #ffffff;

//boder:
$radius: 16px;
$border-color: #D1D3D4;

//Page width
$desktop-width: 1500px;
$small-desktop-width: 1366px;
$big-tablet-width: 1024px;
$tablet-width: 768px;
$mobile-width: 640px;
$small-mobile-width: 375px;