.go_back {
    position: relative;
    z-index: 1;
    height: 40px;
    background-color: #EBEBEB;
    padding: 0.5em 0; }
.go_back-content {
    display: flex;
    justify-content: space-between; }
.go_back-content button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer; }